{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div class="container">
        {{ form_start(profileForm, {'attr': {'class': 'd-flex flex-column pt-2 pb-2 align-items-center'}}) }}
            {{ form_row(profileForm.name) }}
            {{ form_row(profileForm.surname) }}
            {{ form_row(profileForm.country) }}
            {{ form_row(profileForm.city) }}
            {{ form_row(profileForm.age) }}
            {{ form_row(profileForm.favourite_sport) }}
            <input type="submit" value="Update" class="form-control btn btn-success w-25">
        {{ form_end(profileForm) }}
    </div>
{% endblock %}
