{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Event Participants{% endblock %}

{% block body %}
    <div class="container">
        {% for mess in app.flashes('success') %}
            <div class="alert-success text-center">
                {{ mess }}
            </div>
        {% endfor %}
        {% for mess in app.flashes('error') %}
            <div class="alert-danger text-center">
                {{ mess }}
            </div>
        {% endfor %}
        <div class="card-footer mt-4">
            {% for participant in users %}
                <p class="card-text">Participant : {{ participant.username }}</p>
            {% endfor %}

            <p class="card-text"> Total number of participants : {{ users|length }}</p>
        </div>
    </div>
{% endblock %}